h1, h4, h5, h6, p, label {
  font-family: 'Roboto', sans-serif;
}

header {
  text-align: center;
}

.site-header {
  display: inline-block;
  border: double 5px darkgray;
  border-radius: 7px;
  margin: 1em auto;
  padding: 0.5em 1em;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1em;
}

h2, h3 {
  font-family: 'Roboto Condensed', sans-serif;
}

.workspace {
  height: 50vh;
}

.quotes-list-container, .trades-list-container {
  height: 40vh;
  overflow: scroll;
}

.quotes {
  list-style-type: none;
  margin: 0;
}

.quote {
  margin: 1em auto;
  padding: 20px 0;
  border-bottom: lightgray solid 1px;
}

.quote .symbol, .quote .price {
  font-family: 'Roboto Condensed', sans-serif;
  display: inline;
}

.quote .symbol {
  text-transform: uppercase;
}

.quote .price {
  color: darkgray;
  margin-left: 10px;
}

.trade-column {
  border-left: solid gray 2px;
}

.trades-container {
  height: 100%;
}

.orders-list-container {
  height: 20vh;
  overflow: scroll;
}

/*
Foundation Overrides
*/

.row {
  max-width: 100%;
}

.button {
  text-transform: uppercase;
  border-radius: 3px;
}
