h1, h4, h5, h6, p, label {
  font-family: 'Roboto', sans-serif;
}

h1 {
  display: inline-block;
  border: double 2px black;
  border-radius: 7px;
  margin: 1em auto;
  padding: 30px 100px;
  text-transform: uppercase;
  font-weight: 600;
}

h2, h3 {
  font-family: 'Roboto Condensed', sans-serif;
}

header {
  text-align: center;
}

.workspace {
  height: 75vh;
}

.quotes-list-container, .trades-list-container {
  height: 100%;
  overflow: scroll;
}

.quotes {
  list-style-type: none;
  margin: 0;
}

.quote {
  margin: 1em auto;
  padding: 20px 0;
  border-bottom: lightgray solid 1px;
}

.quote .symbol, .quote .price {
  font-family: 'Roboto Condensed', sans-serif;
  display: inline;
}

.quote .symbol {
  text-transform: uppercase;
}

.quote .price {
  color: darkgray;
  margin-left: 10px;
}

.trades-container {
  height: 100%;

  background-color: darkgray;
  color: white;
}

/*
Foundation Overrides
*/

.row {
  max-width: 100%;
}

.button {
  text-transform: uppercase;
  border-radius: 3px;
}
