h1, h4, h5, h6, p, label {
  font-family: 'Roboto', sans-serif;
}

h2, h3 {
  font-family: 'Roboto Condensed', sans-serif;
}

.workspace {
  padding-top: 2em;
  height: 40vh;
}

.quotes-list-container, .trades-list-container {
  height: 25vh;
  overflow: scroll;
}

.quotes, .trades, .orders {
  list-style-type: none;
  margin: 0;
}

.quote {
  clear: both;
  margin: 0.5em auto 1em auto;
  padding: 20px 0;
  border-bottom: lightgray solid 1px;
}

.quote:last-child {
  border-bottom: none;
}

.quote .symbol, .quote .price {
  font-family: 'Roboto Condensed', sans-serif;
  display: inline;
}

.quote .symbol {
  text-transform: uppercase;
}

.quote .price {
  color: darkgray;
  margin-left: 10px;
}

.quote .quote-actions {
  float: right;
}

.trade-column {
  border-left: solid gray 2px;
}

.trades-container {
  height: 100%;
}

/*essentially a rip-off of foundation's .callout.primary class*/
.trade {
  margin: 0 0 1rem 0;
  padding: 1rem;
  border: 1px solid rgba(10, 10, 10, 0.25);
  border-radius: 0;
  position: relative;
  color: #0a0a0a;
  background-color: #def0fc;
}

.orders-list-container {
  height: 30vh;
  overflow: scroll;
}

.order {
  clear: both;
  margin: 0.5em auto 1em auto;
  padding: 20px 0;
  border-bottom: lightgray solid 1px;
}

.order:last-child {
  border-bottom: none;
}

.order .symbol, .order .detail {
  font-family: 'Roboto Condensed', sans-serif;
  display: inline;
}

.order .symbol {
  text-transform: uppercase;
}

.order .detail {
  color: darkgray;
  margin-left: 10px;
}

.order .cancel.button {
  float: right;
}

header, footer {
  text-align: center;
}

.logo {
  display: inline-block;
  border: double 5px darkgray;
  border-radius: 7px;
  margin: 1em auto;
  padding: 0.5em 1em;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1em;
}

/*
Foundation Overrides
*/

.row {
  max-width: 100%;
}

.button {
  text-transform: uppercase;
  border-radius: 3px;
}
